altgraph
aniso8601
Babel
blinker
certifi
charset-normalizer
click
colorama
DAWG-Python
docxcompose
docxtpl
Flask
Flask-Login
Flask-RESTful
Flask-WTF
greenlet
idna
itsdangerous
Jinja2
lxml
MarkupSafe
packaging
pefile
pyinstaller
pyinstaller-hooks-contrib
python-docx
python-pptx
pytz
pywin32-ctypes
requests
schedule
six
SQLAlchemy
typing_extensions
urllib3
Werkzeug
WTForms
